body{
    display: flex;
    background-color: lightgray;
}
.gallery ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
  }
li{
    display: flex;
    border: 10px solid black;
    background-color: white;
    padding: 20px;
    box-shadow: inset 0px 0px 10px black;
}
img{
    object-fit: contain;
    aspect-ratio: calc(9 / 16);
}
